SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key
BUCKET_NAME=nome-do-bucket

EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua-password-gmail
EMAIL_TO=empresaemail@empresa.com.br

MS_CLIENT_ID=seu_client_id
MS_CLIENT_SECRET=seu_client_secret
MS_TENANT_ID=seu_tenant_id